.registerPage {
    height: calc(100vh - 26px);
      overflow-y: auto;
      padding: 2% 5%;
  }
  
  .backgroundImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    /* clip-path: inset(10px 10px 10px 10px); */
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0; 
    padding: 0;  
    box-sizing: border-box;
    position: absolute;  
    top: 10px;
    left: 0;
  }
  
  .logo {
    width: 169px;
   height: 40px;
   margin-left: 50px;
  }
  .mainTitle {
    font-size: 2rem;
    margin-top: 50px;
    color: #333;
    text-align: center;
  
  }
    
    .mainTitle span {
      color: #ff9f43; 
    }  
    
    .brand {
      color: #f89a29;
    }
    .grayLine {
      margin-bottom:10px;
      border-bottom: 1px solid #E6E6E6;
      width: 100%;
      margin-bottom: 30px;
    }
    
    .buttons {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
      margin: 20px 0;
    }
  
    .recruiterBtn, .candidateBtn {
      padding: 1rem 2rem;
      font-size: 1rem;
      border-radius: 1.25rem;
      transition: background-color 0.3s ease;
    }
    
    .recruiterBtn {
      background-color: #000;
      color: white;
      border: none;
    }
    
    .candidateBtn {
      background-color: white;
      border: 1px solid #FEDBB0;
    }
    
    
    .formContainer {
      background-color: #fff;
      padding: 2rem;
      border-radius: 1rem;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
     
      max-width: 518px;
      box-sizing: border-box;
      margin: 1rem auto;
    }
    
  
  
    
    @media (max-width: 595px) {
      
      .registerPage {
        background: radial-gradient(#fb8c0038, #ffffff);
        
      }
      .logo{
        z-index: 1000;
        background-color: white;
        width: 100%;
        margin-left: 0;
        margin-top: -10px;
        padding: 3px;
      }
      .backgroundImg {
        display: none;
      }
    }