.form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
 
  .inputText, .inputEmail {
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #FEDBB0;
    width: 100%;
  }
  
  .label {
    margin-bottom: 15px;
  }
  .textColor{
    color: #787777;
  }
  .customCheckbox {
    appearance: none; 
    width: 16px;
    height: 16px;
    background-color: white;
    border: 1px solid #ff9f43; 
    border-radius: 4px;
    cursor: pointer;
    position: relative;
  }
  
  .customCheckbox:checked {
    background-color: #ff9f43; 
    border-color: #ff9f43;
  }
  
  .customCheckbox:checked::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0; 
    transform: rotate(45deg);
  }

  .formCheckbox input {
    margin-right: 10px;
  }
  .formCheckbox {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  .nextBtn {
    background-color: #f89a29;
    padding: 10px;
    border: none;
    border-radius: 60.67px;
    color: white;
    cursor: pointer;
    width: 194px;
    margin-top: 24px;
    margin-bottom: 28px;
  }
  .nextBtn:disabled{
    background-color: #FEDBB0;
  }
  
  .link {
    color: #f89a29;
    text-decoration: none;
  }
  
  .otpInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
   
  }
  .inputRow{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
  
  .otpInput input {
    width: 40px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0;
  }
  .otpPara{
    margin-bottom:10px;
  }
  