.upload {
    margin-top: 50px;
    border: 1px dashed #FB8C00;
    border-radius: 10px;
    background-color: #f9f3eb;
    height: 251px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.labelStyle {
    background-color: transparent !important;
    color: #FB8C00 !important;
    box-shadow: none !important;
    padding: 0 !important;
    font-size: 14px !important;
    text-transform: capitalize !important;
}
.dragText {
    color: #111;
    font-size: 16px;
    font-weight: 600;
}
.uploadContainer {
    text-align: center;
}
.help {
    font-size: 12px;
    color: #666666;
    text-align: center;
    margin-top: 10px;
}
.screen2 {
    font-size: 16px !important;
    color: #fff !important;
    border-radius: 20px !important;
    text-transform: capitalize !important;
    border: 1px solid #FB8C00 !important;
    min-width: 120px !important;
    height: 42px !important;
    background-color: #FB8C00 !important;
    font-weight: 500 !important;
    margin-top: 20px !important;
}
.close img {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.description {
    font-size: 16px !important;
    color: #333333 !important;
    font-weight: 600 !important;
    text-align: center !important;
}
.txt {
    width: 80%;
    text-align: center;
    margin: auto;
    color: #646464;
    font-size: 14px;
}
.bTxt {
    color: #989898;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}
.heading {
    font-size: 14px;
    color: #9D9D9D;
}
.desc {
    font-size: 18px;
    color: #666666;
    font-weight: 500;
}
.ulStyle {
    display: flex;
}
.liStyle {
    margin: 0 10px;
}
.wrapper {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}