.headerWrapper {
    background: #fff;
    border: 2px solid #d9d9d9;
    border-radius: 14px;
    padding: 10px 5%;
  }
  
  .headerContainer {
    align-items: center;
    justify-content: space-between;
  }
  
  .logoContainer img {
    max-width: 100%;
  }
  
  
  
  .menuList {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  
    
  }
  
  .menuItem {
    padding: 8px 16px;
    position: relative;
  }
  
  .linkStyle {
    text-decoration: none;
    color: #666;
    font-weight: 500;
    font-size: 16px;
    padding: 22px 0;
  }
  .disabledTab{
    color: #666;
  }
  
  .menuItem:hover .linkStyle {
    color: #333;
  }
  
  .activeTab .linkStyle {
    color: #fb8c00;
  }
  
  .activeTab::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fb8c00;
    bottom: -19px;
  }
  
  .profileSection {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .profileButton {
    display: flex;
    align-items: center;
    font-size: 16px !important;
    color: #666 !important;
    gap: 10px;
    background: transparent;
    border: 1px solid #F9F1EB !important;
    border-radius: 12px !important;
    font-weight: 500;
  }
  
  
  
  .hamburgerIcon {
    display: none;
    font-size: 24px;
  }
  
  @media (max-width: 991px) {
    .menuList {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      background: #fff;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      width: 100%;
      padding: 10px 0;
    }
  
    .menuOpen {
      display: flex;
    }
  
    .hamburgerIcon {
      display: block;
      cursor: pointer;
    }
    .activeTab::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: #fb8c00;
      bottom: -5px;
    }
  
  }
  