*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'OCFormatSans', sans-serif;
}

@font-face {
  font-family: 'OCFormatSans';
  src: url('assets/fonts/OCFormatSans-Rg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

